<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Hue Lights Control</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <h1>Successfully connected to your Hue</h1>
        <div>
            <table id="lights">
                <tr>
                    <th colspan="2">Light</th>
                    <th colspan="2">Status</th>
                    <th colspan="2">Actions</th>
                </tr>
                <tr th:each="light : ${lights}">
                    <td th:text="${light.name}"></td>
                    <td th:text="${light.status}"></td>
                    <td>
                        <button th:bgcolor="${light.color}" th:if="${light} == null">Set color</button>
                        <button th:if="${light} == null">Toggle</button>
                    </td>
                </tr>
            </table>
        </div>
        </br></br>
        <a href="/index">Connect to a different hue hub</a>
    </body>
</html>