<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Hue Lights Control</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>Successfully connected to your Hue</h1>
    <div>
        <table>
            <thead>
                <tr>
                    <th colspan="4">Light</th>
                    <th colspan="4">Status</th>
                    <th colspan="4">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="light: ${hue.lights}">
                    <td colspan="4" th:text="${light.name}"></td>
                    <td colspan="4" th:text="${light.status} ? 'On' : 'Off'"></td>
                    <td colspan="4">
                        <form th:action="@{/home}" method="POST">
                            <input type="hidden" name="id" th:value="${light.id}" />
                            <button type="submit" name="action" value="toggle">Toggle</button>
                            <input type="color" name="color" th:value="${light.color}"/>
                            <button type="submit" name="action" value="color">Change color</button>
                            <input type="range" name="brightness" min="1" max="254" th:value="${light.brightness}"/>
                            <button type="submit" name="action" value="brightness">Change brightness</button>
                            <button type="submit" name="action" value="reset">Reset light</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </br></br>
    <a href="/">Connect to a different hue hub</a>
</body>

</html>